.div1,.div2,.div3 {
    border:10px outset blue;
    background-color:yellow;
    width:450px;
    text-align: center;
}
.div1,.div3 {
    height:50px;
}
.div4 {
    display:block;
    width:5px;
    background-color:black;
    position:absolute;
    top:20px;
    bottom:120px;
    left:500px;
}
