#header {
    background-color: aqua;
    /* 시계방향 */
    margin:10px 20px;
    /* 시계방향 */
    padding:10px;         
}

#container {
    background-color: aquamarine;
    /* 시계방향 */
    margin:10px 20px 30px;
    /* 시계방향 */
    padding:10px 20px 30px 40px;
    height:500px;
}

#footer {
    background-color: cadetblue;
    /* 시계방향 */
    margin:10px 20px 30px;
    /* 시계방향 */
    padding:10px 20px 30px 40px;  
}